@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
* {
  padding: 0;
  margin: 0;
  text-transform: capitalize;
  font-size: 2rem;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Nunito", sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  transition: all 0.3s linear;
}
header {
  justify-content: space-between;
  display: flex;
  align-items: center;
  background-color: rgb(90, 82, 186);
  color: #fefefe;
  height: 7vh;
  padding: 1rem;
}
header .logo h2 {
  font-size: 4vmin;
  text-transform: uppercase;
  text-shadow: 0 1rem 0.1rem 0.2rem #fff;
}
.navbar {
  display: flex;
}
.navbar a {
  color: #fefefe;
  padding: 0 1.5rem;
  font-size: 2.5rem;
  font-weight: 300;
}
.navbar a:hover {
  color: rgb(127, 127, 234);
}
#active {
  color: rgb(127, 127, 234);
}
.icons i {
  font-size: 2.5rem;
  padding: 0 1rem;
  cursor: pointer;
}
.icons i:hover {
  color: rgb(127, 127, 234);
}
.home {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: url("https://images.unsplash.com/photo-1537274942065-eda9d00a6293?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTd8fGNsb3RoZXN8ZW58MHx8MHx8&auto=format&fit=crop&w=900&q=60")
    center center/cover;
  color: #fefefe;
}
.home .main-h {
  font-size: 5vmin;
  font-weight: bolder;
}
.line {
  width: 20vmin;
  height: 0.4rem;
  /* margin: auto; */
  background-color: rgb(84, 84, 196);
}
.home .sub-h {
  font-size: 4vmin;
}
.btn {
  background-color: blue;
  color: #fefefe;
  padding: 0.7rem;
  border-radius: 0.2rem;
  font-size: 2rem;
}
.cart {
  position: fixed;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  color: #fefefe;
}
.cart h1 {
  font-size: 2.7rem;
}
.cart p {
  font-size: 2.1rem;
  margin: 2rem;
}
.cart i {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 3rem;
  cursor: pointer;
}
.recovery {
  top: 0;
}
.login {
  position: absolute;
  top: -120%;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  color: #fefefe;
  gap: 2rem;
}
.main {
  top: 0;
}
.login form {
  background-color: rgb(84, 84, 196);
  text-align: center;
  width: 50vh;
  color: #fefefe;
}
.login form a {
  color: #333;
}
.login #close2 {
  position: absolute;
  right: 10%;
  top: 10%;
  font-size: 3rem;
  cursor: pointer;
}
.login h1 {
  font-size: 3rem;
}
.login input {
  display: flex;
  flex-direction: column;
  font-size: 1.8rem;
  padding: 1.5rem 1rem;
  border: 1px solid blue;
  margin: 3rem auto;
  border-radius: 0.5rem;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box p,
a {
  padding: 1rem;
}
.box a:hover {
  text-decoration: underline;
  color: white;
}
#submit {
  font-size: 2.4rem;
  padding: 1rem 2rem;
  cursor: pointer;
}

/* section2 is starting */
.arrival-container h1 {
  text-align: center;
  margin-top: 2rem;
  font-size: 4rem;
  color: rgb(111, 111, 201);
}
.arrival-container .line {
  margin: auto;
  background-color: rgb(111, 111, 201);
}
.boxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  /* margin: 2rem; */
}
.box2 {
  flex: 1 1 30rem;
  border: 1rem solid white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  overflow: hidden;
  /* this is done so as to show the content which was to hide */
  position: relative;

  /* width: 80%; */
}
.box2 img {
  width: 100%;
  /* we did this to hide the content */
  /* height: 100%; */
  object-fit: cover;
}
.main-content {
  background-color: #faf9f6;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: rgb(111, 111, 201);
}
.main-content .h3 {
  background-color: rgb(111, 111, 201);
  padding: 1rem;
  color: white;
}
.main-content p {
  text-decoration: line-through;
  font-size: 1.5rem;
}
.tag {
  position: absolute;
  top: 0;
  padding: 2rem;
  background-color: #333;
  border-radius: 0.4rem;
  color: #faf9f6;
}
.burger i {
  display: none;
}

#close3 {
  display: none;
}

/* section2 is ending */

/* about */
.about {
  max-width: 70%;
  margin: auto;
  text-align: center;

  /* width: 100%; */
}
.about h1 {
  font-size: 4vmin;
  text-align: center;
  padding: 1rem;
  color: rgb(111, 111, 201);
}
.about .line {
  margin: auto;
}
.about .mixture {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  /* width: 100%; */
  display: flex;
  align-items: center;
  /* height: 100%; */
  /* border: 2px solid red; */
  flex: 1 1 30rem;
  margin-top: 2rem;
}
.about .mixture img {
  width: 60%;
  object-fit: cover;
}
.mixture .content {
  /* border: 3px solid red; */
  /* margin: auto -3rem; */
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
  margin: auto;
}
.mixture .content p {
  font-size: 2.7vmin;
  padding: 3rem 2rem;
  text-align: center;
  background-color: rgb(111, 111, 201);
  color: white;
  letter-spacing: normal;
  /* position: absolute;
    width: 30%;
left: 10%; */
}
.small {
  display: flex;
  flex-direction: row-reverse;

  align-items: center;
}

/* women */
.women {
  margin-top: 4%;
}
.women .fullbox {
  display: flex;
  /* position: relative; */
  margin-top: 2%;
  gap: 0.5rem;
  flex-wrap: wrap;
}
.women .halfbox {
  flex-direction: column;
  flex: 1 1 30rem;
}
.women .halfbox:hover img {
  transform: scale(1);
}
.women .halfbox:hover img {
  border: 1px solid white;
}

.women .halfbox img {
  width: 100%;
  object-fit: cover;
  box-shadow: 0 1rem 2rem #333;
  cursor: pointer;

  /* max-width: 50rem; */
}
.women .halfbox .h2-text1,
.h2-text2,
.h2-text3 {
  /* position:;
       left: 0;
    top: 0; */
  background-color: rgb(111, 111, 201);
  color: white;
  /* width:50%; */
  padding: 2rem;
  border-radius: 0.6rem;
  /* transform:rotate(120deg); */
  text-align: center;
}
.women .halfbox .h2-text1,
.h2-text2,
.h2-text3 h2 {
  font-size: 3vmin;
  text-align: center;
  /* width: 100%; */
}
.women h1 {
  font-size: 5vmin;
  color: rgb(111, 111, 201);
  text-align: center;
}
.women .line {
  margin: auto;
}
.map {
  margin: 3%;
}

.map h1 {
  font-size: 5vmin;
  text-align: center;
  color: rgb(111, 111, 201);
}
.map .line {
  margin: auto;
}
.contact {
  box-shadow: 0 2rem 1rem rgba(0, 0, 0, 0.1);
}
.contact h2 {
  font-size: 4vmin;
  color: rgb(111, 111, 201);
  text-align: center;
}
.contact .line {
  margin: auto;
}
.contact form {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  margin: 3rem;
  text-align: center;
  align-items: center;

  background-color: rgb(248, 248, 246);
  /* width:50vh; */
  /* box-shadow: 0 2rem 1rem rgba(0,0,0,.1); */
}
.contact form #contact-input {
  padding: 1rem;
  text-transform: none;
  border: 0.3px solid rgb(111, 111, 201);
  margin: 0.5rem;
  min-width: 30rem;
  /* margin-left: 0; */
  background-color: rgba(0, 0, 0, 0.1);
  font-size: 1.5rem;

  border-radius: 0.3rem;
}
.contact form #contact-input:focus {
  border: 1px solid blue;
}
.contact form #contact-input #submit {
  padding: 2rem;
  min-width: 10rem;
  border-radius: 0.3rem;
}
.footer {
}
.footer-content {
  display: flex;
  background-color: #333;
  padding: 1rem;
}
.footer-content .footerPara {
  color: #fff;
  flex: 1 1 30rem;
}
.footer-content .footerPara h1 {
  font-size: 4vmin;
}
.footer-content .footerPara p {
  font-size: 2vmin;
}
.footer-content .footerPara span {
  font-size: 3vmin;
  color: rgb(111, 111, 201);
}

.footer-content .links a {
  color: white;
  padding: 1rem;
  margin-right: 50%;
  font-size: 2vmin;
}
.footer-content .links a:hover {
  color: rgb(111, 111, 201);
  text-decoration: underline;
}

/* media */
@media (max-width: 790px) {
  .navbar {
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    background: burlywood;
    position: absolute;

    top: -120%;
    left: 0;

    width: 100%;
    height: 100%;
  }
  .navbar.compns {
    top: 0;
  }

  .burger i {
    display: block;
    font-size: 3rem;
    cursor: pointer;
  }
  #close3 {
    position: absolute;
    right: 10%;
    top: 10%;
    font-size: 3rem;
    cursor: pointer;
    display: block;
  }
  .small {
    display: flex;
    flex-direction: column;
  }
}
